body {
  background-color: #eee;
}
.form-plan_done {
  max-width: 600px;
  padding: 15px;
  margin: auto auto;
}
.form-plan_done .form-control {
  position: relative;
  height: auto;
  width: 550px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}
.form-plan_done .form-controla {
  position: relative;
  width:550px;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}

.form-plan_done .form-control:focus {
  z-index: 2;
}
.form-plan_done input[type="text"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-plan_done input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 200px;
  height: auto;
}
.yihang{
  display:inline-block;
}