{% extends 'ecgbase.html' %}

{% block content %}
<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1>任务分配 </h1>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-selfinfo"  action="/admin_eu/" method="post" >
        {% csrf_token %}

        <div align="center">
            <input height="10px" style="font-size: larger"  type=“text" name="a" >求职用户</input>
            <input height="10px" style="font-size: larger"  type=“text" name="b" >匹配专家</input>
            <br>
            <br>
            <button type="reset" class="button1">重置</button>
            <button type="submit" class="button1">提交</button>
        </div>
    </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>








{% endblock %}