{% extends 'login_base.html' %}
{%load static  %}
{#<link rel="stylesheet" href="{% static 'CSS/selfinfo.css' %}">#}
{% block title %}专家登录{% endblock %}

{% block content %}

<div class="login_boder">
     <form style="margin: 40px 70px" class='form-alogin' action="/alogin/" method="post" >

        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}

        {% csrf_token %}
        <h2 class="text-center" >欢迎登录</h2>
        <br>

        <div class="form-group">
            {{ alogin_form.username.label_tag }}
            {{ alogin_form.username}}
        </div>
        <br>
        <div class="form-group">
            {{ alogin_form.password.label_tag }}
            {{ alogin_form.password }}
        </div>

        <button type="reset" class="button1">重置</button>
        <button type="submit" class="button1">登录</button>
    </form>




</div>
{% endblock %}

