
 <!-- <h2>欢迎登录！</h2>
<form>
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="checkbox" value="remember me">
    <input type="submit" value="登录">
</form>
 <table style="border: 1px;margin: 0 auto;background: lightskyblue"  >
 -->
<!--
 <table style="border: 1px;margin: 0 auto;background: lightskyblue"  >
 -->
 <!--
 <table style="border: 1px;margin: 0 auto;background: lightskyblue"  >
 -->
<!--
 000导航栏000
 <div class="container">
	        <div class="row clearfix">
		        <div class="col-md-12 column">
			        <ul class="nav nav-tabs">
				        {% if request.session.is_login %}
					        <li class="active">
						        <a class="pg_dl" id="i77" href="#">你好：{{ request.session.user_name }}</a>
					        </li>
					        <li>
						        <a class="pg_dl" id="i77" href="/selfinfo/">User center</a>
					        </li>
					        <li>
						        <a href="/careerhelper/">Careerhelper</a>
					        </li>
				        {% else %}
					        <li>
						        <a class="pg_dl" id="i77" href="/login/">Login</a>
					        </li>
					        <li>
						        <a class="pg_dl" id="i77" href="/register01/">Register</a>
					        </li>

					        <li class="dropdown pull-right">
						        <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
						        <ul class="dropdown-menu">
							        <li>
							            <a class="pg_dl" id="i77" href="#">当前在线：{{ request.session.user_name }}</a>
							        </li>
							        <li>
							    	    <a class="pg_dl" id="i77" href="/logout/">Logout</a>
							        </li>
							        <li class="divider">
							        </li>
							        <li>
								        <a href="#">帮助</a>
							        </li>
						        </ul>
					        </li>
				        {% endif %}
			        </ul>
		        </div>
	        </div>
        </div>
 -->

