{% extends 'ecg_expert_base.html' %}
{%load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/job.css' %}">
{% endblock %}

{% block content %}

    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <!--在这里显示已有职业信息，下面设置新增职业按钮可以增加新的职业信息 -->
    <div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1>新增职业信息 </h1>
                    <div class="clearfix"></div>
                </div>
                <form class="form-job" action="/job/" method="post">
                {% csrf_token %}

                    <div  style="width: 60%; margin-left: 16%; font-size: 18px">
                            <div class="form-group">
                                {{ job_form.job_name.label_tag }}
                                {{ job_form.job_name }}
                            </div>
                            <div class="form-group">
                                {{ job_form.description.label_tag }}
                                {{ job_form.description }}
                            </div>
                            <div class="form-group">
                                {{ job_form.requirement.label_tag }}
                                {{ job_form.requirement }}
                            </div>
                            <div class="form-group">
                                {{ job_form.salary.label_tag }}
                                {{ job_form.salary }}
                            </div>
                            <div class="form-group">
                                {{ job_form.character.label_tag }}
                                {{ job_form.character }}
                            </div>
                            <br>
                        <button type="reset" class="button1">重置</button>
                        <button type="submit" class="button1">提交</button>
                    </div>
                </form>
                <br>
            </div>
         </div>
    </div>
</div>







{% endblock %}