{% extends 'ecg_user_base.html' %}
{% block title %}职业信息{% endblock %}
{%load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/job.css' %}">
{% endblock %}

{% block content %}
    <div align="center">
        <h3>职业信息</h3>
    </div>

    <hr align="center" width="80%">
    <div style="font-size: 16px;border-radius:9px; margin-left: 18%;width: 76%; background: #bce8f1; border-color: #555555;">

        {% for job_form in job_formlist %}
        <br>
        <div style="margin: 20px">
            <h4>{{ job_form.job_name }}</h4>
            <p>{{ job_form.description }}</p>
            <p><a style="font-size: 18px" class="btn" href="{% url 'jobdetail' job_form.id%}">查看详情>></a></p>
        </div>
        {% endfor %}
    </div>






{% endblock %}
    <!--<table style="margin: 20px 20px; font-size: medium">
            <thead>
                <tr>
                    <th style="width: 5%; height: auto">序号</th>
                    <th style="width: 8%; height: auto">职业名称</th>
                    <th style="width: 30%; height: auto">职业描述</th>
                    <th style="width: 30%; height: auto">任职资格</th>
                    <th style="width: 10%; height: auto">薪资水平</th>
                    <th style="width: 12%; height: auto">性格要求</th>
                </tr>
            </thead>
            <tbody>
            { for job_form in job_formlist %}
                <tr style="height: 180px">
                    <td style="width: 5%; height: auto">{ forloop.counter }}</td>
                    <td style="width: 8%; height: auto">{ job_form.job_name }}</td>
                    <td style="width: 30%; height: auto">{ job_form.description }}</td>
                    <td style="width: 30%; height: auto">{ job_form.requirement }}</td>
                    <td style="width: 10%; height: auto">{ job_form.salary }}</td>
                    <td style="width: 12%; height: auto">{ job_form.character }}</td>
                </tr>
            { endfor %}
            </tbody>
        </table>
        <p><a style="font-size: 18px" class="btn" href="/careerhelper/">返回填写职业选择</a></p>-->