{% extends 'ecg_user_base.html' %}
{% block title %}职业资讯{% endblock %}
{%load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/jobnews.css' %}">
{% endblock %}

{% block content %}
    <div align="center">
        <h3>职业资讯</h3>
    </div>
    <hr align="center" width="80%">
    <div style="border-radius:9px; margin-left: 18%;width: 76%; background: #bce8f1; border-color: #555555;">

        {% for jobnews_form in jobnews_formlist %}
        <br>
        <div style="margin: 20px">
            <h4>{{ jobnews_form.title }}</h4>
            <p>{{ jobnews_form.c_time }}</p>
            <p><a style="font-size: 18px" class="btn" href="{% url 'jobnewsdetail' jobnews_form.id%}">查看详情>></a></p>
        </div>
        {% endfor %}
    </div>


{% endblock %}
