{% extends 'ecg_user_base.html' %}
{% block title %}职业资讯详情{% endblock %}
{%load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/jobnews.css' %}">
{% endblock %}
{% block content %}
    <div align="center">
        <h3>资讯详情</h3>
    </div>
    <hr align="center" width="80%">
    <div style="margin-left:18%; width: 76%;border-radius:9px; background:#bce8f1; border-color: #555555">
        <h4>{{ jobnews_form.title }}</h4>
        <br>
        <p style="font-size: 16px">{{ jobnews_form.content }}</p>

        <p><a style="font-size: 18px" class="btn" href="/jobnews_show/">返回>></a></p>
    </div>
{% endblock %}