{% extends 'login_base.html' %}
{%load static  %}
{% block title %}用户登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">

{% endblock %}

{% block content %}
<div class="login_boder">
     <form style="margin: 40px 70px" class='form-login' action="/login/" method="post" >

        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}

        {% csrf_token %}
        <h2 class="text-center" >欢迎登录</h2>
        <div class="form-group">
            {{ login_form.username.label_tag }}
            {{ login_form.username}}
        </div>
        <br>
        <div class="form-group">
            {{ login_form.password.label_tag }}
            {{ login_form.password }}
        </div>
        <button class="button1" type="reset">重置</button>
        <button type="submit" class="button1">登录</button>
         <br>
        <li><a style="color: #2459a2; font-size: 20px; margin-left: 5%"  href="/register01/">·新用户注册</a></li>
</form>
</div>

                        <!-- /container -->
{% endblock %}
