{% extends 'ebase.html' %}

{% block content %}
		<div align="center" class="yihang">
            <p>表格内容：制定计划</p>
		</div>
    <table align="center" style="font-size: 16px;border:2px solid #0094ff" >
        <thead>
            <tr>
                <th style="border:2px solid #0094ff">序号</th>
                <th style="border:2px solid #0094ff">用户名</th>
                <th style="border:2px solid #0094ff">性别</th>
                <th style="border:2px solid #0094ff">学历</th>
                <th style="border:2px solid #0094ff">专业</th>
                <th style="border:2px solid #0094ff">年龄</th>
                <th style="border:2px solid #0094ff">证书技能</th>
                <th style="border:2px solid #0094ff">职业经历</th>
                <th style="border:2px solid #0094ff">兴趣爱好</th>
                <th style="border:2px solid #0094ff">所选职业</th>
            </tr>
        </thead>
        <tbody >
        {% for selfinfo_form in selfinfo_formlist %}
            <tr>
                <td style="border:2px solid #0094ff">{{ forloop.counter }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.name }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.sex }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.education }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.major }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.age }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.certificate_or_skills }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.professional_history }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.hobby }}</td>
                <td style="border:2px solid #0094ff">{{ selfinfo_form.jobchosen}}</td>
            </tr>
        {% endfor %}

        
        </tbody>
    </table>

{% endblock %}