{% extends 'login_base.html' %}
{%load static  %}
{% block title %}注册{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
{% endblock %}
{% block content %}
    <div class="container" style="background: white;border-radius: 15px">
        <div class="col-md-4 col-md-offset-4">
          <form style="margin: 5px 40px" class='form-register' action= "/register01/" method="post">
 
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}
              <br/>
              <br/>
              <h2 class="text-center">欢迎注册</h2>
              <br>
              <div class="form-group">
                  {{ register_form.username.label_tag }}
                  {{ register_form.username}}
              </div>
              <br>
              <div class="form-group">
                  {{ register_form.password1.label_tag }}
                  {{ register_form.password1 }}
              </div>
              <br>
              <div class="form-group">
                  {{ register_form.password2.label_tag }}
                  {{ register_form.password2 }}
              </div>
              <br>
              <div class="form-group">
                  {{ register_form.email.label_tag }}
                  {{ register_form.email }}
              </div>
              <br>
              <div class="form-group">
                  {{ register_form.sex.label_tag }}
                  {{ register_form.sex }}
              </div>
              <br>

              <button type="reset" class="button1">重置</button>
              <button type="submit" class="button1">注册</button>
 
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

