{% extends 'base.html' %}
{% block title %}个人信息{% endblock %}
{% block content %}
    <h3 align="center" class="text-center">个人信息填写</h3>
    <table width=68% style="border: 1px;margin: 0 auto;"  >

    <tr>
        <td style="background: salmon">姓名</td>
        <td><label>
            <input type="text" style="width:40%">
        </label></td>
        <td>性别</td>
        <td><label>
            <select style="width: 40%">
                <option>男</option>
                <option>女</option>
            </select>
        </label></td>
    </tr>
    <tr>
        <td>手机号码</td>
        <td><label>
            <input type="tel" style="width:40%">
        </label></td>
        <td>电子邮箱</td>
        <td><label>
            <input type="email" style="width:40%">
        </label></td>
    </tr>

    <tr>
        <td>教育程度</td>
        <td><label>
            <select style="width: 40%">
                <option>大专</option>
                <option>本科</option>
                <option>硕士</option>
                <option>博士</option>
            </select>
        </label></td>
        <td>专业</td>
        <td><label>
            <input style="width: 40%; " type="text">
        </label></td>
    </tr>

    <tr>
        <td>工作城市</td>
        <td><label>
            <input style="width: 40%; " type="text">
        </label></td>
        <td>期望月薪</td>
        <td><label>
            <select style="width: 40%">
                <option>3000-5000</option>
                <option>5000-8000</option>
                <option>8000-10000</option>
                <option>10000以上</option>
            </select>
        </label></td>
    </tr>
    <tr>
        <td>家庭住址</td>
        <td colspan="3"><label>
            <input type="text" style="width: 95%; " >
        </label></td>
    </tr>
    <tr>
        <td>自我介绍</td>
        <td colspan="3"><label>
            <input type="text" style="width: 95%; " >
        </label></td>
    </tr>

    <tr>
        <td>特长/技能/证书</td>
        <td colspan="3"><label>
            <input type="text" style="width: 95%; " >
        </label></td>
    </tr>
    <tr>
        <td>职业经历</td>
        <td colspan="3"><label>
            <input type="text" style="width: 95%; " >
        </label></td>
    </tr>
    <tr>
        <td>实践经历</td>
        <td colspan="3"><label>
            <input type="text" style="width: 95%; " >
        </label></td>
    </tr>

    <tr>
        <td>兴趣爱好</td>
        <td colspan="3"><label>
            <input type="text" style="width: 95%; " >
        </label></td>
    </tr>
    <tr>
        <td align="left"  colspan="4" >感谢您的信任！</td>
    </tr>

    <tr>
        <td align="center" colspan="4" >
            <input type="submit" value="提交">
            <input type="reset" value="退出">
        </td>
    </tr>
</table>
{% endblock %}