{% extends 'base.html' %}
{% block title %}个人信息{% endblock %}

{%load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/selfinfo.css' %}">
{% endblock %}

{% block content %}

    <h3 align="center" class="text-center">个人信息</h3>
        <form class="form-selfinfo" action="/selfinfo_done/" method="get">

            <div class="form-group">
                <div class="yihang">
                    <p>用户</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.name }}
                </div>
            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>姓名</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.real_name }}
                </div>

                <div class="yihang">
                    <p>　　　　　　　性别</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.sex }}
                </div>
            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>手机号码</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.phone_number}}
                </div>

                <div class="yihang">
                    <p>　邮箱地址</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.email}}
                </div>

            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>学历</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.education}}
                </div>

                <div class="yihang">
                    <p>　　　　　　　　专业</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.major}}
                </div>

            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>年龄</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.age}}
                </div>

                <div class="yihang">
                    <p>　　　　　　　期望月薪</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.expected_salary}}
                </div>

            </div>
            <div class="form-group">
                <div class="yihang">
                    <p>家庭住址</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.home_address}}
                </div>

            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>证书技能</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.certificate_or_skills}}
                </div>

            </div>
            <div class="form-group">
                <div class="yihang">
                    <p>职业经历</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.professional_history}}
                </div>

            </div>
            <div class="form-group">
                <div class="yihang">
                    <p>实践经历</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.experience}}
                </div>

            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>兴趣爱好</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.hobby}}
                </div>
            </div>

            <div class="form-group">
                <div class="yihang">
                    <p>自我介绍</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.selfintroduction}}
                </div>
            </div>
            <div class="form-group">
                <div class="yihang">
                    <p>目标职业</p>
                </div>
                <div class="yihang">
                    {{ selfinfo_form.jobchosen}}
                </div>
            </div>
        </form>
        <div>
            <div class="yihang">
                <li style="margin-left: 365px"><a  href="/careerhelper/">查看职业推荐结果</a></li>
            </div>
            <div class="yihang">
                <li style="margin-left: 365px"><a  href="/selfinfo/">返回修改</a></li>
            </div>
        </div>



<!-- 在此处写注释
<button type="submit" align="center" class="btn btn-primary pull-right" href="/careerhelper/">查看职业推荐结果</button>
 for selfinfo_form in selfinfo_formlist
endfor
     -->
{% endblock %}